
<ul class="flex items-center list-reset text-lg mt-12 mb-4">
  <li><a class="mr-4 no-underline text-white" href="/" class="home">Phil Tutty</a></li>
  <li><a class="mr-4 no-underline text-white" href="/blog" class="blog">blog</a></li>
  <li><a class="mr-4 no-underline text-white" href="/about">about</a></li>
  <li><a class="mr-4 no-underline text-white" href="/search" class="search" id="search-link">search</a></li>
</ul>
