<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{%- if title -%}{{ title }}{%- else -%}Phil Tutty{%- endif -%}</title>
    <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}Phil Tutty's home on the web. Read his blog, ask questions, and find coverage of his recent conference talks about web development.{%- endif -%}"/>
    <link rel="alternate" href="/feed.xml" title="blog feed, by Phil Tutty" type="application/atom+xml">
    {% include "favicons.njk" %}
    {% include "social.njk" %}
  </head>
  <body >

    <div class="flex flex-wrap">

        <div class="side-bar-left {{ pageClass }}">

        <header>

          <div class="header-inner">
            {% include "navigation.njk" %}

            {% block sidebar %}
              <p>{{ subtitle }}</p>
              <h1>{{ title }}</h1>
            {% endblock %}
          </div>

        </header>

        </div>

        <div class="side-bar-right">
          <div class="side-bar-right-inner">
            <!-- content -->
            {% block content %}
            {{ content | safe }}
            {% endblock %}

            {% block credits %}
            {% include "page-credits.njk" %}
            {% endblock %}
          </div>


          <!-- footer -->
          <footer>
            <div class="mx-auto">
              {% block prefooter %}{% endblock %}
              {% include "footer.njk" %}
            </div>
          </footer>


        </div>

    </div>




    <script>{% include "js/hawksworx.js" %}</script>
  </body>
</html>
