
/* base page styles */
body {
  @apply font-serif
}

body a {
  @apply no-underline text-blue
}

body p {
  @apply text-grey-darkest leading-loose text-base
}

h1,h2,h3,h4 {
  @apply font-sans pt-4 pb-3 leading-normal text-grey-darkest
}

.sidebar {
  @apply bg-grey-darker text-grey-lighter
}

.main {
  @apply bg-white
}

.sidebar h1 {
  @apply text-5xl uppercase tracking-normal py-3;
  font-family: 'Anton', sans-serif;
}

.inner-container,.sidebar-container {
  @apply mx-auto w-4/5 max-w-3xl text-left
}

.inner-container {
  @apply pt-12 pb-16
}

.sidebar header {
  @apply sticky pin-t
}


.page-details {
  @apply py-20
}

.btn {
  @apply border-solid rounded py-4 px-4 bg-grey-light
}

.btn:hover {
  @apply bg-green
}

footer .solid-footer {
  @apply text-xs leading-tight py-3 px-0
}

header ul.nav {
  @apply items-center list-reset
}

header ul.nav li {
    @apply  inline
}

header ul.nav li {
    @apply  inline
}

header ul.nav a {
  @apply inline-block pt-16 pr-2 pb-1 pl-1;
  @apply mr-4 no-underline text-white text-sm font-semibold font-sans
}

header ul li a.home {
  @apply px-3 text-black bg-white
}


.page-details h1 {
  @apply text-5xl uppercase py-3 text-black;
}

/* blog items */

.blog-list-item {
  @apply pt-4 pb-8
}

.blog-list-item h2,.blog-list-item h3 {
    @apply m-0 pb-2 pt-0
}

.blog-list-item h2 a {
  @apply text-grey-darkest border-b border-grey-dark

}

.blog-list-item img {
  @apply py-4
}

.blog-list-item .grab {
  @apply mt-4 mb-4
}

.blog-list-item img.external-link {
    @apply w-6 pl-2 align-middle opacity-50
}






/* media queries */

@screen xl {
  body { @apply flex flex-row }
  .sidebar { @apply w-2/5 min-h-screen }
  .main { @apply w-3/5 }
  .inner-container,.sidebar-container {
      @apply w-3/5;
      max-width: 600px
  }
  footer {
    @apply fixed pin-b pin-l w-2/5
  }
  footer .inner-container {
    @apply mr-12 ml-auto
  }
  .inner-container {
    @apply ml-16
  }
  .sidebar-container {
    @apply mr-12 ml-auto
  }
  .page-details {
    @apply max-w-full
   }
}

@screen lg {
  .inner-container, .sidebar-container {
      @apply w-3/5;
      max-width: 600px
  }
  .page-details {
    @apply max-w-2xl
   }
}

@screen md {
  .inner-container, .sidebar-container {
      @apply w-2/3;
      max-width: 650px
  }
}

@screen sm {
  .page-details {
    @apply max-w-4xl
   }
}

/* themes  */

/* bright-theme */
.bright-theme .sidebar,
.bright-theme footer {
  @apply bg-grey-lighter
}

/* dark-theme */
.dark-theme .sidebar,.dark-theme footer {
  @apply bg-grey-darkest text-grey-light
}
.dark-theme .sidebar h1 {
  @apply text-white
}

/* blue-theme */

.blue-theme .sidebar,.blue-theme footer {
  @apply bg-blue-dark text-black
}

.blue-theme .sidebar h1 {
  @apply text-white
}


/* teal-theme */
.teal-theme .sidebar,.teal-theme footer {
  @apply bg-teal-dark text-white
}

.teal-theme .sidebar h1 {
  @apply text-black
}





@tailwind preflight;
@tailwind components;
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
