---
title: About Phil Tutty
description: A little more about Phil, academic technologist and web developer
pageClass: "bright-theme theme-nearwhite"
card: true
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>A little about <span class="no-wrap">Phil Tutty</span></h1>
  <img class="avatar-large" src="/images/philtutty-andson.png" alt="Phil Tutty and son" />
{% endblock %}


{% block content %}
<p>
    This site is the online home of Phil Tutty. He doesn't love talking about himself in the third person, so he's going to stop that now if you don't mind.
</p>
<hr />

<h2 id="about-me">👋 Thanks for stopping by</h2>
<p>
  I have been building things on the web professionally for almost 20 years. Between 2009 and 2018 that happened at agencies where I was fortunate to work with a wide range of public and private sector clients.
</p>


<h2 id="home-in-the-world">Home in the world</h2>
<p>
  I live in the English city of <a href="https://en.wikipedia.org/wiki/St_Albans">Coventry</a>, just a 100 miles north of London with my wife and our 2 kids
</p>
<p>
  If you want to know more, you can <a href="/ask-me">ask me anything</a>.
</p>

<h2 id="home-on-the-web">Home on the web</h2>
<p>
  You can find me in the following places on the web:
</p>
<ul>
  <li><a href="https://www.twitter.com/mrtutty">Twitter</a> - twitter.com/mrtutty</li>
  <li><a href="https://www.github.com/ptutty">Github</a> - github.com/ptutty</li>
</ul>


<h2 id="about-this-site">About this site</h2>
<p>
  This site is built using a <a href="https://www.staticgen.com/">static site generator</a> called <a href="https://11ty.io">Eleventy</a>, and then served on the <a href="https://www.jamstack.org">JAMstack</a> for free by <a href="https://www.netlify.com">Netlify</a>. It is delivered over HTTPS thanks to a free certificate from Let's Encrypt.
</p>


<h2 id="credits-and-licensing">Credits and licensing</h2>
<p>
  Other than where specified, the content on this site is published under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a> licence.
</p>
<p>
  The flag images on the <a href="/speaking">speaking</a> page are sourced as SVGs from <a href="http://flag-icon-css.lip.is/">flag-icon-css</a>, generously created and maintained by <a href="https://github.com/lipis">Lipis</a>.
</p>
<p>
  The <a href="https://thenounproject.com/search/?q=link&i=1119743" target="_BLANK" rel="noopener">link icon</a> used in the blog, courtesy of Peter Carleton from the Noun Project
</p>

{% endblock %}
