---
title: Careers blog posts
description: Various blog posts about web development and other bits and pieces.
card: true
pageClass: "blue-theme"
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>{{ title }}</h1>
  <p>
    {{ description }}
  </p>

{% endblock %}


{% block content %}
  {%- for item in collections.posts  -%}
  {% if loop.index < 4 %}
  {% include 'post-teaser.njk' %}
  {% else %}
  {% include 'post-teaser-condensed.njk' %}
  {% endif %}
  {%- endfor -%}
{% endblock %}
