---
title: Phil Tutty's blog posts
description: Various blog posts about web development and other bits and pieces.
card: true
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>The Blog</h1>
  <p>
    My various noodlings. Mostly, but not exclusively, about technology and the web.
  </p>

{% endblock %}


{% block content %}
  {%- for item in collections.posts  -%}
  {% if loop.index < 4 %}
  {% include 'post-teaser.njk' %}
  {% else %}
  {% include 'post-teaser-condensed.njk' %}
  {% endif %}
  {%- endfor -%}
{% endblock %}
