---
permalink: feed.json
metadata:
  title:  Phil Tutty's blog
  url: https://www.philiptutty.co.uk
  author:
    name: Phil Tutty
  feed:
    subtitle: Phil Tutty's home on the web. Read his blog, ask questions.
    filename: feed.xml
    path: feed.xml
    url: https://www.philiptutty.co.uk/feed.xml
    id: https://www.philiptutty.co.uk
---
{
  "title": "{{ metadata.title }}",
  "subtitle": "{{ metadata.feed.subtitle }}",
  "link": "{{ metadata.feed.id }}",
  "feed": "{{ metadata.feed.url }}",
  "author": "{{ metadata.author.name }}",
  "entries" : [
    {%- for post in collections.posts %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
    {
      "title": "{{ post.data.title }}",
      "link": "{{ absolutePostUrl }}",
      "updated": "{{ post.date | rssDate }}"
    }{% if not loop.last %},{% else %}{%- endif -%}

  {%- endfor %}
  ]
}
