---
title: About Phil Tutty
description: A little more about Phil, academic technologist and web developer
card: true
pageClass: "bg-orange"
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1 class="blog-title">Careers blog</h1>

  <p class="blog-text">
    The blog, playground and portfolio for <a href="/about" class="no-wrap">Phil Tutty</a>
  </p>
{% endblock %}

{% block content %}

<p class="my-5">
    You can usually find me on <a href="https://twitter.com/mrtutty">Twitter</a>. And you can sometimes find me at web development <a href="/speaking">conferences</a>, where I might be talking about development techniques. </a>.
  </p>


  <hr />

  <h2 class="mb-10"><a href="/blog">Recently on the blog</a></h2>
  {% set item = collections.posts | first %}
  {% include 'post-teaser.njk' %}



  {% endblock %}
